*{
  margin:1;
  padding:1;
}
.csit{
  background-color: grey;
  width: 15%;
  font-family: cursive;
  height: 100vh;
}
.csit nav{
  padding=70;

}
.csit nav li{
  list-style: none;
  font-size: 18px;
  padding: 33px 0;
}
.left{
  background-color:white ;
  width: 85%;
  font-family: monospace;

}
.btech{
  display: flex;
}
.aboutme{
  background-color: white;
  height: 45vh;
  width: 70vw;
  margin: 144px auto;
  display: flex;
  justify-content: space-around;
}
.devinfo{
  display: flex;
  justify-content: center;
flex-direction: column;;


}
.hi{font-size: 70px}
  .name{font-size: 55px;
 font-weight:bold;
  }
.skills{font-size: 35px;
font-style: italic;
}
.more{
  font-size: 25px;
}
.buttons{
  margin-top: 34px;
}
.buttons button{
  padding: 9px 14px;
  border-radius: 22px;
  color: white;
  background-color: grey;
  font-weight: normal;
  font-size: 21px;
  margin: 0 15px;
  cursor: pointer;
}
.devpic img{
  width: 204px;
}
